flows_raspberrypi.json
[{"id":"4190926a.47acec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1c28f247.f8df6e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f3767f2a.c961a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ae4176e7.1a4748","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"dbb5ec3e.44d3b","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"af65e9f.4a24818","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"63e7d4b.b7cac2c","type":"tab","label":"Flow 11","disabled":false,"info":""},{"id":"9ef30955.cc8858","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"35043b53.2d8154","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"d01f30dd.7256f","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"8db9037a.c07bc","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"a40ca250.27aa","type":"mqtt-broker","z":"","name":"hivemq broker","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d21f4128.0b5e7","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"622a685b.296d98","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"52c499bc.d7d998","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"b06cc65a.c14118","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":""},{"id":"f3cda2f6.8ff27","type":"websocket-listener","z":"","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"6739e05a.50149","type":"websocket-listener","z":"d01f30dd.7256f","path":"/ws/simple2","wholemsg":"false"},{"id":"11f05b24.8b6295","type":"websocket-listener","z":"8db9037a.c07bc","path":"/ws/simple","wholemsg":"false"},{"id":"cfa91ae.a737ae8","type":"function","z":"4190926a.47acec","name":"Toggle 0/1 on input","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["fcc5fcf4.dbd14"]]},{"id":"fcc5fcf4.dbd14","type":"debug","z":"4190926a.47acec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":320,"wires":[]},{"id":"57a58b34.ed9a84","type":"inject","z":"4190926a.47acec","name":"tick every 2 sec","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":129,"y":220.00000095367432,"wires":[["cfa91ae.a737ae8"]]},{"id":"6680928.bbf056c","type":"rpi-gpio out","z":"4190926a.47acec","name":"","pin":"7","set":false,"freq":"","out":"out","x":570,"y":220,"wires":[]},{"id":"ba867d10.ea12e","type":"comment","z":"1c28f247.f8df6e","name":"Comment","info":"","x":110,"y":60,"wires":[]},{"id":"5c551e98.c36cb","type":"debug","z":"1c28f247.f8df6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":230,"y":200,"wires":[]},{"id":"ec68e94e.57c598","type":"inject","z":"1c28f247.f8df6e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["5c551e98.c36cb"]]},{"id":"87b54576.3539f8","type":"openweathermap","z":"f3767f2a.c961a","name":"MyHome","wtype":"current","lon":"-98.280903","lat":"29.840906","city":"","country":"","language":"en","x":280,"y":120,"wires":[["96226c41.89de3","a00246f6.235b88"]]},{"id":"96226c41.89de3","type":"debug","z":"f3767f2a.c961a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":120,"wires":[]},{"id":"3fd042fe.04d34e","type":"inject","z":"f3767f2a.c961a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[[]]},{"id":"a00246f6.235b88","type":"function","z":"f3767f2a.c961a","name":"If Clear Weather","func":"if (msg.payload.weather == \"Clear\"){\n    msg.payload = \"It's a Clear Day!\"\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[[]]},{"id":"940d05b4.4b3ba8","type":"e-mail","z":"f3767f2a.c961a","server":"smtp.gmail.com","port":"465","secure":true,"name":"pglitsch@gmail.com","dname":"mygmail","x":310,"y":340,"wires":[]},{"id":"c3edcb19.7479b8","type":"mqtt in","z":"ae4176e7.1a4748","name":"","topic":"paulglitsch/sensor","qos":"2","broker":"a40ca250.27aa","x":210,"y":120,"wires":[["faecdfd.42e452"]]},{"id":"faecdfd.42e452","type":"json","z":"ae4176e7.1a4748","name":"","property":"payload","action":"","pretty":false,"x":130,"y":260,"wires":[["6fd4db21.62a1f4"]]},{"id":"6fd4db21.62a1f4","type":"switch","z":"ae4176e7.1a4748","name":"","property":"payload.analyze","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":320,"wires":[["6bbab573.538a9c"],["92e442e.e9f55c","eb6c68c1.0df828"]]},{"id":"8dc72ad5.665758","type":"debug","z":"ae4176e7.1a4748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":340,"wires":[]},{"id":"92e442e.e9f55c","type":"change","z":"ae4176e7.1a4748","name":"","rules":[{"t":"set","p":"payload.note","pt":"msg","to":"this is not being analyzed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["8dc72ad5.665758"]]},{"id":"dca588a2.34ce08","type":"debug","z":"ae4176e7.1a4748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":140,"wires":[]},{"id":"6bbab573.538a9c","type":"change","z":"ae4176e7.1a4748","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":260,"wires":[["69fbc093.d7a46"]]},{"id":"69fbc093.d7a46","type":"rbe","z":"ae4176e7.1a4748","name":"if value change > 20%","func":"deadband","gap":"20%","start":"","inout":"out","property":"payload","x":460,"y":200,"wires":[["dca588a2.34ce08"]]},{"id":"eb6c68c1.0df828","type":"change","z":"ae4176e7.1a4748","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":440,"wires":[["331cb53e.8d06da"]]},{"id":"331cb53e.8d06da","type":"range","z":"ae4176e7.1a4748","minin":"0","maxin":"10","minout":"0","maxout":"255","action":"clamp","round":false,"property":"payload","name":"","x":500,"y":460,"wires":[["d05f114b.1386b"]]},{"id":"d05f114b.1386b","type":"debug","z":"ae4176e7.1a4748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":520,"wires":[]},{"id":"ceb3c193.81d85","type":"inject","z":"dbb5ec3e.44d3b","name":"{\"analyze\":false, \"value\":10}","topic":"","payload":"{\"analyze\":false, \"value\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["3d1b64b0.a5e3cc"]]},{"id":"a70807f7.91bea8","type":"inject","z":"dbb5ec3e.44d3b","name":"{\"analyze\":false, \"value\":10}","topic":"","payload":"{\"analyze\":true, \"value\":6}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["3d1b64b0.a5e3cc"]]},{"id":"9f2c1b56.1e5048","type":"inject","z":"dbb5ec3e.44d3b","name":"{\"analyze\":true, \"value\":1}","topic":"","payload":"{\"analyze\":true, \"value\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["3d1b64b0.a5e3cc"]]},{"id":"3d1b64b0.a5e3cc","type":"mqtt out","z":"dbb5ec3e.44d3b","name":"","topic":"paulglitsch/sensor","qos":"","retain":"","broker":"a40ca250.27aa","x":520,"y":200,"wires":[]},{"id":"9f480ee2.555ae","type":"inject","z":"dbb5ec3e.44d3b","name":"{\"analyze\":true, \"value\":10}","topic":"","payload":"{\"analyze\":true, \"value\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["3d1b64b0.a5e3cc"]]},{"id":"2151f667.394eca","type":"inject","z":"af65e9f.4a24818","name":"","topic":"","payload":"Hello There","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["3a9fd01e.6af19"]]},{"id":"3a9fd01e.6af19","type":"websocket out","z":"af65e9f.4a24818","name":"","server":"f3cda2f6.8ff27","client":"","x":380,"y":220,"wires":[]},{"id":"dd609816.31cda8","type":"websocket in","z":"af65e9f.4a24818","name":"","server":"f3cda2f6.8ff27","client":"","x":170,"y":320,"wires":[["d1be9ea1.0d441"]]},{"id":"d1be9ea1.0d441","type":"debug","z":"af65e9f.4a24818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":380,"wires":[]},{"id":"b3666a34.327858","type":"inject","z":"63e7d4b.b7cac2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["a1369a75.379698"]]},{"id":"a1369a75.379698","type":"function","z":"63e7d4b.b7cac2c","name":"Set GET request string","func":"msg.payload = \"GET / HTTP/1.1\\r\\n\\r\\nHost: www.google.com\"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["e9616ce5.26103"]]},{"id":"36fae4c9.14d7ec","type":"function","z":"63e7d4b.b7cac2c","name":"Parse resonse buffer into string","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["21b57bbd.bec724"]]},{"id":"21b57bbd.bec724","type":"debug","z":"63e7d4b.b7cac2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":360,"wires":[]},{"id":"e9616ce5.26103","type":"tcp request","z":"63e7d4b.b7cac2c","server":"www.google.com","port":"80","out":"time","splitc":"1000","name":"","x":330,"y":240,"wires":[["36fae4c9.14d7ec"]]},{"id":"48413ffe.6dc35","type":"json","z":"9ef30955.cc8858","name":"","property":"payload","action":"","pretty":false,"x":110,"y":200,"wires":[["181b9ba6.bed0f4"]]},{"id":"de20ea7.96ef518","type":"mqtt in","z":"9ef30955.cc8858","name":"","topic":"paulglitsch/sensor","qos":"2","broker":"a40ca250.27aa","x":150,"y":100,"wires":[["48413ffe.6dc35"]]},{"id":"2baee4f3.b4086c","type":"debug","z":"9ef30955.cc8858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":320,"wires":[]},{"id":"181b9ba6.bed0f4","type":"template","z":"9ef30955.cc8858","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the analzye: {{payload.analyze}} \nThis is the value:  {{payload.value}} ","output":"str","x":260,"y":220,"wires":[["2baee4f3.b4086c"]]},{"id":"4d039b7e.39a1e4","type":"random","z":"35043b53.2d8154","name":"","low":"1","high":"1200","inte":"true","property":"payload","x":220,"y":160,"wires":[["79144171.d679d"]]},{"id":"79144171.d679d","type":"debug","z":"35043b53.2d8154","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":260,"wires":[]},{"id":"be4ab791.ee5c18","type":"inject","z":"35043b53.2d8154","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["4d039b7e.39a1e4"]]},{"id":"2f49ebe6.b0b0e4","type":"inject","z":"8db9037a.c07bc","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":210,"y":220,"wires":[["b0b96dc6.4b251"]]},{"id":"ab483af8.9e0ef8","type":"websocket out","z":"8db9037a.c07bc","name":"","server":"11f05b24.8b6295","client":"","x":610,"y":220,"wires":[]},{"id":"1ab26b3f.cd3a05","type":"http response","z":"8db9037a.c07bc","name":"","statusCode":"","headers":{},"x":581,"y":160,"wires":[]},{"id":"d16b5cbf.4012","type":"http in","z":"8db9037a.c07bc","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":212,"y":160,"wires":[["9966e5c1.03ab28"]]},{"id":"9966e5c1.03ab28","type":"template","z":"8db9037a.c07bc","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" /> \n    <title>Simple Gate Opener</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Gate Opener</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"open\");'>Open Gate</button>\n        <button type=\"button\" onclick='doit(\"close\");'>Close Gate</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":409,"y":160,"wires":[["1ab26b3f.cd3a05"]]},{"id":"b0b96dc6.4b251","type":"function","z":"8db9037a.c07bc","name":"format time nicely","func":"\nmsg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["ab483af8.9e0ef8"]]},{"id":"892d7cd4.d9028","type":"websocket in","z":"8db9037a.c07bc","name":"","server":"11f05b24.8b6295","client":"","x":200,"y":280,"wires":[["f1bbd9af.ab4ed8","cc1a648a.b48fd8"]]},{"id":"f1bbd9af.ab4ed8","type":"debug","z":"8db9037a.c07bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":280,"wires":[]},{"id":"95eeeca.414051","type":"rpi-gpio out","z":"8db9037a.c07bc","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":650,"y":400,"wires":[]},{"id":"bfa6df7.f345d2","type":"rpi-gpio out","z":"8db9037a.c07bc","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":680,"y":620,"wires":[]},{"id":"b73b055c.8d0c78","type":"switch","z":"8db9037a.c07bc","name":"open/close","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"close","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":500,"wires":[["56f78b51.0ccf44"],["e5d1f877.9ab6d8"]]},{"id":"56f78b51.0ccf44","type":"function","z":"8db9037a.c07bc","name":"set low","func":"context.state = 0;\nmsg.payload = context.state;\n\ncontext.global.enabled = false;\n//flow.set(\"enabled\", 1);\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":460,"wires":[["95eeeca.414051","6f14512b.16b6f"]]},{"id":"e5d1f877.9ab6d8","type":"function","z":"8db9037a.c07bc","name":"set low","func":"context.state = 0;\nmsg.payload = context.state;\ncontext.global.enabled = false;\nreturn msg;\n","outputs":1,"noerr":0,"x":480,"y":540,"wires":[["bfa6df7.f345d2","6f14512b.16b6f"]]},{"id":"cc1a648a.b48fd8","type":"function","z":"8db9037a.c07bc","name":"timeout","func":"var tf = context.global.enabled;\n\nif (context.global.enabled)\n    return msg;","outputs":1,"noerr":0,"x":160,"y":420,"wires":[["b73b055c.8d0c78","a7e88773.d69488"]]},{"id":"a7e88773.d69488","type":"debug","z":"8db9037a.c07bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":400,"wires":[]},{"id":"b3e44968.8ef8e8","type":"inject","z":"8db9037a.c07bc","name":"every 30 seconds","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["91b44702.a80878"]]},{"id":"91b44702.a80878","type":"function","z":"8db9037a.c07bc","name":"repeat function timer","func":"context.global.enabled = 1;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[[]]},{"id":"6f14512b.16b6f","type":"delay","z":"8db9037a.c07bc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":500,"wires":[["44000ed5.cfa8e"]]},{"id":"44000ed5.cfa8e","type":"function","z":"8db9037a.c07bc","name":"set high","func":"\ncontext.state = 1;\nmsg.payload = context.state;\n\n\n//flow.set(\"enabled\", 1);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":500,"wires":[["95eeeca.414051","bfa6df7.f345d2"]]},{"id":"29d201c1.cdd1de","type":"rpi-gpio out","z":"d01f30dd.7256f","name":"","pin":"7","set":false,"freq":"","out":"out","x":930,"y":860,"wires":[]},{"id":"b86758b7.6f3148","type":"rpi-gpio out","z":"d01f30dd.7256f","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":920,"y":1080,"wires":[]},{"id":"2331d34d.05a1cc","type":"delay","z":"d01f30dd.7256f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":980,"wires":[["1b8df71.5fc4c09"]]},{"id":"1b8df71.5fc4c09","type":"function","z":"d01f30dd.7256f","name":"deactivate relay","func":"\n\n\ncontext.state = 1\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":980,"wires":[["29d201c1.cdd1de"]]},{"id":"cbc3edfa.29cd4","type":"delay","z":"d01f30dd.7256f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1180,"wires":[["e32a69a3.52a6e8"]]},{"id":"e32a69a3.52a6e8","type":"function","z":"d01f30dd.7256f","name":"deactivate relay","func":"\n\n\ncontext.state = 1\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":1180,"wires":[["b86758b7.6f3148"]]},{"id":"3e30e8fd.fbbc98","type":"inject","z":"d01f30dd.7256f","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":110,"y":800,"wires":[["830fc8c0.3aa5d8"]]},{"id":"6fecbc8c.db09b4","type":"http in","z":"d01f30dd.7256f","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":112,"y":740,"wires":[["92115b6b.837828"]]},{"id":"17bdc279.be419e","type":"websocket out","z":"d01f30dd.7256f","name":"","server":"6739e05a.50149","client":"","x":520,"y":800,"wires":[]},{"id":"493e8ee7.31775","type":"http response","z":"d01f30dd.7256f","name":"","statusCode":"","headers":{},"x":481,"y":740,"wires":[]},{"id":"92115b6b.837828","type":"template","z":"d01f30dd.7256f","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />   \n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"open\");'>Open Gate</button>\n        <button type=\"button\" onclick='doit(\"close\");'>Close Gate</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":309,"y":740,"wires":[["493e8ee7.31775"]]},{"id":"830fc8c0.3aa5d8","type":"function","z":"d01f30dd.7256f","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":800,"wires":[["17bdc279.be419e"]]},{"id":"48919bd6.daa9c4","type":"debug","z":"d01f30dd.7256f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":860,"wires":[]},{"id":"aa669710.da4288","type":"switch","z":"d01f30dd.7256f","name":"open/close gate","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"close","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":980,"wires":[["3148adc3.9e2322"],["fb9ec590.99bad8"]]},{"id":"3148adc3.9e2322","type":"function","z":"d01f30dd.7256f","name":"send low to open relay","func":"\n\n\ncontext.state = 0\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":920,"wires":[["29d201c1.cdd1de","2331d34d.05a1cc"]]},{"id":"fb9ec590.99bad8","type":"function","z":"d01f30dd.7256f","name":"send low to open relay","func":"\n\n\ncontext.state = 0\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1020,"wires":[["b86758b7.6f3148","cbc3edfa.29cd4"]]},{"id":"6310cee9.2697a","type":"websocket in","z":"d01f30dd.7256f","name":"","server":"6739e05a.50149","client":"","x":260,"y":860,"wires":[["48919bd6.daa9c4","aa669710.da4288"]]}]